<!DOCTYPE html>
<html lang="en">
<head>
    <meta chatset="UTF-8">
    <title>functions</title>
</head>
<body>
    {{.}}
    
    {{. | fdbl}}

    {{. | fdbl | fsq}}

    {{. | fdbl | fsq | fsqrt}}    
</body>
</html>
