<!DOCTYPE html>
<html lang="en">
<head>
    <meta chatset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<ul>
    <!-- range over the current piece of data, the slice -->
    {{range .}}
    <!-- display each item in the slice -->
    <li>{{.}}</li> 
    {{end}}
</ul>
</body>
</html>
